{:paths ["src" "test"]
 :deps {org.clojure/data.json
        {:git/url "https://github.com/clojure/data.json.git"
         :git/sha "1fce9070ee851f49a6c4ce6e1c0bb0db4d7594a0"}
        ;; data.json reads java.time.format.DateTimeFormatter/ISO_INSTANT at
        ;; namespace-load time, and java.time.* is this library rather than core
        ;; (RFC 0008). jolt.transit requires it ahead of data.json.
        jolt-lang/time
        {:git/url "https://github.com/jolt-lang/time.git"
         :git/sha "70dfb7981ef4ed70c5d142109d56a90edfb79cef"}}
 :aliases {:test {:main-opts ["-m" "transit.golden-test"]}}
 :tasks {test "jolt -M:test"}}
